@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 20px;
    background: linear-gradient(to right, #ac0000, #292D36);
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.app {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    transition: color 0.3s;
}

nav {
    display: flex;
}

nav a {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px;
    transition: color 0.3s;
}

nav a:hover,
nav a.active {
    color: #0bd;
}

.logo-container img {
    opacity: 0.9;
    transition: opacity 0.3s;
}

.logo-container img:hover {
    opacity: 1;
}

header:hover {
    background: linear-gradient(to right, #292D36, #ac0000);
}

header:hover .app {
    color: #ac0000;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ac0000;
}


main section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
}

main section:nth-child(odd) {
    background: #ac0000;
}

main section:nth-child(even) {
    background: #292D36;
}

.fitur {
    margin: 40px;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 30px;
}

h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
}

a {
    font-size: 16px;
    color: #4097aa;
    text-decoration: none;
    transition: .3s;
}

article {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: linear-gradient(to right, #ac0000, #292D36);
    color: #fff;
    width: 100%;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.3);
}

aside a {
    color: #4097aa;
    text-decoration: none;
    transition: color 0.3s;
}

aside a:hover {
    color: #0bd;
}

footer p {
    margin-bottom: 10px;
}

footer:hover {
    background: linear-gradient(to right, #292D36, #ac0000);
}


.logo-and-text-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.text-container {
    flex: 1;
    padding-left: 20px;
    max-width: 600px;
    text-align: left;
}

#dynamicLogoContainer {
    text-align: center;
    margin-bottom: 20px;
}

#dynamicLogo {
    opacity: 0.8;
    width: auto;
    max-width: 100%;
}

#beranda,
#unduh {
    color: #fff;
}

#dynamicLogo {
    width: auto;
    max-width: 100%;
    animation: logoAnimation 2s ease-in-out infinite alternate;
}

@keyframes logoAnimation {
    0% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}

.slideshow-container {
    max-width: 70%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    margin-top: 10px;
}

.mySlides {
    text-align: center;
}

.feature-preview {
    display: inline-block;
    margin: 0 5px;
    max-width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 5);
}

@media screen and (max-width: 600px) {
    header {
        padding: 10px 15px;
    }

    .app {
        font-size: 20px;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        margin: 10px 0;
    }

    .logo-container img {
        margin: 10px 0;
    }

    main section,
    article {
        padding: 30px 10px;
    }

    h2 {
        font-size: 28px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    p,
    a {
        font-size: 14px;
    }

    footer {
        padding: 15px 0;
    }

    footer p {
        margin-bottom: 5px;
    }

    .logo-and-text-container {
        flex-direction: column;
        text-align: center;
    }

    .text-container {
        padding-left: 10px;
        max-width: 100%;
    }

    #dynamicLogo {
        margin-bottom: 10px;
    }

    .slideshow-container {
        max-width: 100%;
        margin-top: 10px;
    }

    .feature-preview {
        margin: 10px 0;
    }

    .fitur {
        margin: 20px;
    }
}
